# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Mar Del Plata,AR,-38.0023,-57.5575,54.09,81,0,9.22,clear sky
1,1,Kodiak,US,57.7900,-152.4072,51.31,76,100,10.36,light rain
2,2,Ushuaia,AR,-54.8000,-68.3000,47.86,61,0,3.44,clear sky
3,3,Hithadhoo,MV,-0.6000,73.0833,81.73,71,98,15.30,overcast clouds
4,4,Ribeira Grande,PT,38.5167,-28.7000,70.11,81,99,3.76,overcast clouds
5,5,Chiradzulu,MW,-15.6746,35.1407,69.51,42,1,3.38,clear sky
6,6,Barrow,US,71.2906,-156.7887,24.82,93,100,19.57,overcast clouds
7,7,Tyumentsevo,RU,53.3224,81.4980,30.06,90,1,6.73,clear sky
8,8,Berkak,NO,62.8250,10.0118,42.94,84,92,6.76,overcast clouds
9,9,Bethel,US,41.3712,-73.4140,52.57,73,100,5.99,moderate rain

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
3,3,Hithadhoo,MV,-0.6000,73.0833,81.73,71,98,15.30,overcast clouds
10,10,Maraa,BR,-1.8333,-65.3667,79.50,71,84,0.94,broken clouds
11,11,Avarua,CK,-21.2078,-159.7750,77.05,73,75,21.85,broken clouds
12,12,Vaini,TO,-21.2000,-175.2000,80.76,83,75,14.97,broken clouds
27,27,College Station,US,30.6280,-96.3344,87.67,20,0,8.05,clear sky
30,30,Matara,LK,5.9485,80.5353,77.27,87,91,14.18,overcast clouds
32,32,Hambantota,LK,6.1241,81.1185,78.51,79,91,18.48,overcast clouds
38,38,Conde,BR,-7.2597,-34.9075,76.46,78,0,9.22,clear sky
40,40,Harper,LR,4.3750,-7.7169,75.43,91,98,5.12,moderate rain
41,41,Manuk Mangkaw,PH,4.8000,119.8500,83.86,71,100,7.25,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = pd.DataFrame(preferred_cities_df.dropna())

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
3,3,Hithadhoo,MV,-0.6000,73.0833,81.73,71,98,15.30,overcast clouds
10,10,Maraa,BR,-1.8333,-65.3667,79.50,71,84,0.94,broken clouds
11,11,Avarua,CK,-21.2078,-159.7750,77.05,73,75,21.85,broken clouds
12,12,Vaini,TO,-21.2000,-175.2000,80.76,83,75,14.97,broken clouds
27,27,College Station,US,30.6280,-96.3344,87.67,20,0,8.05,clear sky
30,30,Matara,LK,5.9485,80.5353,77.27,87,91,14.18,overcast clouds
32,32,Hambantota,LK,6.1241,81.1185,78.51,79,91,18.48,overcast clouds
38,38,Conde,BR,-7.2597,-34.9075,76.46,78,0,9.22,clear sky
40,40,Harper,LR,4.3750,-7.7169,75.43,91,98,5.12,moderate rain
41,41,Manuk Mangkaw,PH,4.8000,119.8500,83.86,71,100,7.25,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
new_column_order = ["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]
hotel_df = clean_travel_cities[new_column_order]

# Display sample data
hotel_df.head(10)

               City Country  Max Temp Weather Description      Lat       Lng
3         Hithadhoo      MV     81.73     overcast clouds  -0.6000   73.0833
10            Maraa      BR     79.50       broken clouds  -1.8333  -65.3667
11           Avarua      CK     77.05       broken clouds -21.2078 -159.7750
12            Vaini      TO     80.76       broken clouds -21.2000 -175.2000
27  College Station      US     87.67           clear sky  30.6280  -96.3344
30           Matara      LK     77.27     overcast clouds   5.9485   80.5353
32       Hambantota      LK     78.51     overcast clouds   6.1241   81.1185
38            Conde      BR     76.46           clear sky  -7.2597  -34.9075
40           Harper      LR     75.43       moderate rain   4.3750   -7.7169
41    Manuk Mangkaw      PH     83.86     overcast clouds   4.8000  119.8500

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df = hotel_df[["City", "Country", "Max Temp", "Weather Description","Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.count()

City                   192
Country                192
Max Temp               192
Weather Description    192
Lat                    192
Lng                    192
Hotel Name             192
dtype: int64

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}        
print(params)

{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyBMBT8EzNjygBjFij8YV8f9PLgCbz80LhI'}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df.head()

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
3,Hithadhoo,MV,81.73,overcast clouds,-0.6000,73.0833,Scoop Guest House
10,Maraa,BR,79.50,broken clouds,-1.8333,-65.3667,
11,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,Paradise Inn
12,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
27,College Station,US,87.67,clear sky,30.6280,-96.3344,Homewood Suites by Hilton College Station

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.drop(hotel_df.index[hotel_df['Hotel Name'] == ""], inplace=False)

# Display sample data
clean_hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
3,Hithadhoo,MV,81.73,overcast clouds,-0.6000,73.0833,Scoop Guest House
11,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,Paradise Inn
12,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
27,College Station,US,87.67,clear sky,30.6280,-96.3344,Homewood Suites by Hilton College Station
30,Matara,LK,77.27,overcast clouds,5.9485,80.5353,Amaloh Boutique Resort
...,...,...,...,...,...,...,...
658,Wanning,CN,79.39,overcast clouds,18.8003,110.3967,Paradise Hotel
671,Shingu,JP,75.06,broken clouds,33.7333,135.9833,Shingu UI Hotel
673,Muroto,JP,78.06,scattered clouds,33.2833,134.1500,Oota Ryokan
674,Springfield,US,79.54,clear sky,37.2153,-93.2982,Best Western Route 66 Rail Haven
675,Sunland Park,US,82.90,clear sky,31.7965,-106.5800,SpringHill Suites by Marriott El Paso

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [13]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [14]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [15]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.73 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Paradise Inn</dd>\n<dt>City</dt><dd>Avarua</dd>\n<dt>Country</dt><dd>CK</dd>\n<dt>Current Weather</dt><dd>broken clouds and 77.05 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 80.76 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Homewood Suites by Hilton College Station</dd>\n<dt>City</dt><dd>College Station</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 87.67 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Amaloh Boutique Resort</dd>\n<dt>City</dt><dd>Matara</dd>\n<dt>Country</dt><dd>LK</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 77.27 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Bungalow 63</dd>\n<dt>City</dt><dd>Hambantota</dd>\n<dt>Country</dt><dd>LK</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 78.51 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Beija Flor</dd>\n<dt>City</dt><dd>Conde</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>clear sky and 76.46 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Screensaver</dd>\n<dt>City</dt><dd>Harper</dd>\n<dt>Country</dt><dd>LR</dd>\n<dt>Current Weather</dt><dd>moderate rain and 75.43 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Rumah Kuku Moimoi Shelly</dd>\n<dt>City</dt><dd>Sungairaya</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 75.67 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 84.09 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [16]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
3   -0.6000   73.0833
11 -21.2078 -159.7750
12 -21.2000 -175.2000
27  30.6280  -96.3344
30   5.9485   80.5353
32   6.1241   81.1185
38  -7.2597  -34.9075
40   4.3750   -7.7169
42   0.7000  108.9000
43  22.0752 -159.3190

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [17]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.5)
fig.add_layer(marker_layer)

# Display the figure containing the map

fig

Figure(layout=FigureLayout(height='420px'))